/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* --------------------------------------------------------------------------------------- */
/* Master styles ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'barlow-condensed';
  src: url("../fonts/barlow-condensed/BarlowCondensed-Regular.eot");
  src: url("../fonts/barlow-condensed/BarlowCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-condensed/BarlowCondensed-Regular.woff2") format("woff2"), url("../fonts/barlow-condensed/BarlowCondensed-Regular.woff") format("woff"), url("../fonts/barlow-condensed/BarlowCondensed-Regular.svg#BarlowCondensed-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'barlow-condensed';
  src: url("../fonts/barlow-condensed/BarlowCondensed-Italic.eot");
  src: url("../fonts/barlow-condensed/BarlowCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-condensed/BarlowCondensed-Italic.woff2") format("woff2"), url("../fonts/barlow-condensed/BarlowCondensed-Italic.woff") format("woff"), url("../fonts/barlow-condensed/BarlowCondensed-Italic.svg#BarlowCondensed-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'barlow-condensed';
  src: url("../fonts/barlow-condensed/BarlowCondensed-Bold.eot");
  src: url("../fonts/barlow-condensed/BarlowCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-condensed/BarlowCondensed-Bold.woff2") format("woff2"), url("../fonts/barlow-condensed/BarlowCondensed-Bold.woff") format("woff"), url("../fonts/barlow-condensed/BarlowCondensed-Bold.svg#BarlowCondensed-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'barlow-condensed';
  src: url("../fonts/barlow-condensed/BarlowCondensed-BoldItalic.eot");
  src: url("../fonts/barlow-condensed/BarlowCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-condensed/BarlowCondensed-BoldItalic.woff2") format("woff2"), url("../fonts/barlow-condensed/BarlowCondensed-BoldItalic.woff") format("woff"), url("../fonts/barlow-condensed/BarlowCondensed-BoldItalic.svg#BarlowCondensed-BoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'barlow-condensed';
  src: url("../fonts/barlow-condensed/BarlowCondensed-ExtraBold.eot");
  src: url("../fonts/barlow-condensed/BarlowCondensed-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-condensed/BarlowCondensed-ExtraBold.woff2") format("woff2"), url("../fonts/barlow-condensed/BarlowCondensed-ExtraBold.woff") format("woff"), url("../fonts/barlow-condensed/BarlowCondensed-ExtraBold.svg#BarlowCondensed-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'barlow-condensed';
  src: url("../fonts/barlow-condensed/BarlowCondensed-Black.eot");
  src: url("../fonts/barlow-condensed/BarlowCondensed-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-condensed/BarlowCondensed-Black.woff2") format("woff2"), url("../fonts/barlow-condensed/BarlowCondensed-Black.woff") format("woff"), url("../fonts/barlow-condensed/BarlowCondensed-Black.svg#BarlowCondensed-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* --------------------------------------------------------------------------------------- */
/* Master styles ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::selection {
  background-color: rgba(236, 28, 36, 0.5);
}

.bg-primary *::selection {
  color: #ffffff;
}

.bg-black *::selection {
  background-color: rgba(236, 28, 36, 0.75);
  color: #ffffff;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'barlow-condensed';
  font-size: 24px;
  line-height: 1.45em;
  font-weight: 400;
  background: #000000;
  color: #000000;
}

#container {
  position: relative;
  width: 100%;
  background: #ffffff;
  z-index: 2;
}

main {
  background: #ffffff;
}

section, div {
  position: relative;
  display: block;
}

.phone-link {
  pointer-events: none;
}

/* -------------------------------------------------------------------------------------------- */
/* Modifiers ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
.wrapper,
.inner-wrapper {
  position: relative;
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
}

.inner-wrapper {
  width: 100%;
}

.wrapper-overflow {
  overflow: auto;
}

.xlarge-wrapper {
  max-width: 1920px;
}

.large-wrapper {
  max-width: 1640px;
}

.medium-wrapper {
  max-width: 1200px;
}

.thin-wrapper {
  max-width: 980px;
}

.xthin-wrapper {
  max-width: 750px;
}

.wrapper-full {
  width: 100%;
}

.bg-white {
  background: #ffffff;
}

.bg-light {
  background: #f2f2f2;
}

.bg-primary {
  background: #ec1c24;
  color: #ffffff;
}

.bg-grey {
  background: #deddde;
  color: #ffffff;
}

.bg-black {
  background: #000000;
  color: #ffffff;
}

section.bg-white + section.bg-white {
  padding-top: 0;
}

section.bg-light + section.bg-light {
  padding-top: 0;
}

section.bg-grey + section.bg-grey {
  padding-top: 0;
}

section.bg-black + section.bg-black {
  padding-top: 0;
}

section.bg-primary + section.bg-primary {
  padding-top: 0;
}

.border-bottom {
  border-bottom: 1px solid;
}

.border-top {
  border-top: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.border-right {
  border-right: 1px solid;
}

.border-x {
  border-left: 1px solid;
  border-right: 1px solid;
}

.border-y {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.border {
  border: 1px solid;
}

.border-white {
  border-color: #ffffff;
}

.border-primary {
  border-color: #ec1c24;
}

.border-black {
  border-color: #000000;
}

.xsmall-padding {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.xsmall-padding-top {
  padding-top: 2vw;
}

.xsmall-padding-bottom {
  padding-bottom: 2vw;
}

.small-padding {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.small-padding-top {
  padding-top: 4vw;
}

.small-padding-bottom {
  padding-bottom: 4vw;
}

.medium-padding {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.medium-padding-top {
  padding-top: 6vw;
}

.medium-padding-bottom {
  padding-bottom: 6vw;
}

.large-padding {
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.large-padding-top {
  padding-top: 8vw;
}

.large-padding-bottom {
  padding-bottom: 8vw;
}

.xlarge-padding {
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.xlarge-padding-top {
  padding-top: 10vw;
}

.xlarge-padding-bottom {
  padding-bottom: 10vw;
}

.side-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.no-margin {
  margin: 0;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

svg {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* --------------------------------------------------------------------------------------- */
/* Text Styles ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.center-align {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: initial;
}

p {
  margin: 0 0 18px;
}

p:last-child {
  margin-bottom: 0;
}

.large-text {
  font-size: 1.25em;
  line-height: 1.55em;
}

.small-text {
  font-size: 0.85em;
  line-height: 1.55em;
}

.white-text {
  color: #ffffff;
}

.black-text {
  color: #000000;
}

.highlight {
  color: #ec1c24 !important;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  display: block;
  font-weight: 700;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.bg-black h1, .bg-black h2, .bg-black h3, .bg-black h4 {
  color: #ffffff;
}

.bg-primary h1, .bg-primary h2, .bg-primary h3, .bg-primary h4 {
  color: #ffffff;
}

h1, h2 {
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 12px;
}

h4, h5, h6 {
  margin-bottom: 0;
}

h1, h2, h3 {
  margin-top: 48px;
}

h4, h5, h6 {
  margin-top: 32px;
}

h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h2, h3 + h4, h3 + h5, h3 + h6,
h4 + h2, h2 + h3, h4 + h5, h4 + h6,
h5 + h2, h5 + h3, h5 + h4, h5 + h6,
h6 + h2, h6 + h3, h6 + h4, h6 + h5 {
  margin-top: 0;
}

h1, h2 {
  font-size: 3.5em;
  line-height: 1em;
}

.long-text h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.65em;
  line-height: 1.15em;
}

h4 {
  font-size: 1.35em;
  line-height: 1.25em;
}

h5 {
  font-size: 1.05em;
  line-height: 1.45em;
  text-transform: uppercase;
}

h6 {
  font-size: 1.05em;
  line-height: 1.45em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-size: 0.85em;
  font-style: italic;
  font-weight: 400;
  text-transform: initial;
  color: #ec1c24;
}

.heading-wrapper {
  margin-top: 48px;
  margin-bottom: 18px;
}

.heading-wrapper h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.heading-wrapper:first-child {
  margin-top: 0;
}

.heading-wrapper:last-child {
  margin-bottom: 0;
}

h2 + ul, h3 + ul, h4 + ul,
h2 + ol, h3 + ol, h4 + ol {
  margin-top: 0 !important;
}

.caption {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 300;
}

.caption:last-child {
  margin-bottom: 0;
}

/* --------------------------------------------------------------------------------------- */
/* Lists ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
/* Shared styles ---------------------------------------------- */
ul, ol {
  margin: 0;
  padding: 0;
}

.long-text ul, ol {
  margin: 24px 0;
}

.long-text ul:first-child, ol:first-child {
  margin-top: 0;
}

.long-text ul:last-child, ol:last-child {
  margin-top: 0;
}

.long-text ul li, ol li {
  display: block;
  position: relative;
  margin-left: 40px;
  margin-bottom: 8px;
}

.long-text ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

/* UL styles ---------------------------------------------- */
.long-text ul li {
  list-style: none;
}

.long-text ul li:before {
  content: url(../images/bullet.svg);
  position: absolute;
  left: -28px;
  width: 12px;
  height: 8px;
  transform: translateY(-50%);
}

.long-text ul ul {
  margin-top: 5px;
}

/* OL styles ---------------------------------------------- */
ol {
  counter-reset: item;
  list-style: none;
}

ol li {
  counter-increment: item;
}

ol li:before {
  content: counters(item,".") " ";
  position: relative;
  top: 0.05em;
  float: left;
  margin-left: -25px;
  color: #ec1c24;
  font-size: 0.85em;
  font-weight: 500;
}

.long-text ol ol {
  margin-top: 5px;
}

.long-text ol ol li:before {
  margin-left: -40px;
}

.bg-primary ol li:before {
  color: #000000;
}

.bg-black ol li:before {
  color: #ec1c24;
}

/* --------------------------------------------------------------------------------------- */
/* Links ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #ec1c24;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a:hover {
  color: #ec1c24;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.bg-primary a {
  color: #ffffff;
}

.bg-primary a:hover {
  color: #ffffff;
}

.bg-black a {
  color: #ec1c24;
}

.bg-black a:hover {
  color: #aa111d;
}

/* Paragraph Links ---------------------------------------------- */
.long-text a:not(.button) {
  position: relative;
  color: #000000;
  border-bottom: 4px solid transparent;
  background-image: linear-gradient(#ec1c24, #ec1c24);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: left calc(100% + 1px);
}

.long-text a:not(.button):hover {
  color: #ec1c24;
  background-position: left calc(100% + 4px);
}

.bg-black .long-text a:not(.button),
.bg-black.long-text a:not(.button) {
  color: #ffffff;
}

.bg-primary .long-text a:not(.button),
.bg-primary.long-text a:not(.button) {
  background-image: linear-gradient(#000000, #000000);
}

.bg-primary .long-text a:not(.button):hover,
.bg-primary.long-text a:not(.button):hover {
  color: #000000;
}

/* Buttons ---------------------------------------------- */
.buttons-wrapper {
  position: relative;
  z-index: 1;
  display: block;
  margin: 50px 0;
  width: 100%;
}

.buttons-wrapper:first-child {
  margin-top: 0;
}

.buttons-wrapper:last-child {
  margin-bottom: 0;
}

.buttons-wrapper.center-buttons {
  text-align: center;
}

.buttons-wrapper.right-buttons {
  text-align: right;
}

.large-buttons a.button {
  font-size: 1.75em;
}

.small-buttons a.button {
  font-size: 1.15em;
}

a.button {
  overflow: hidden;
  display: inline-block;
  padding: 5px 40px 10px;
  margin: 0 0 0 12px;
  border: 1px solid #000000;
  border-radius: 0;
  background: #ec1c24;
  box-shadow: 0 5px 0 #deddde;
  font-size: 1.45em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1em;
}

a.button:hover {
  background: transparent;
  color: #ec1c24;
}

.buttons-wrapper.absolute-buttons {
  position: absolute;
  bottom: 2vw;
}

.buttons-wrapper a.button {
  margin: 3px 12px 3px 0;
}

.buttons-wrapper.center-buttons a.button {
  margin: 3px 6px;
}

.buttons-wrapper.right-buttons a.button {
  margin: 3px 0 3px 12px;
}

.bg-primary a.button:hover {
  border-color: #ffffff;
  background: #ec1c24;
  color: #ffffff;
}

.bg-black a.button {
  border-color: #ec1c24;
  background: #ec1c24;
  color: #ffffff;
}

.bg-black a.button:hover {
  background: #000000;
  color: #ec1c24;
}

/* --------------------------------------------------------------------------------------- */
/* Main Content ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
main {
  display: block;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.content {
  position: relative;
  display: block;
  margin: 0 auto;
  background: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* --------------------------------------------------------------------------------------- */
/* Full height sections ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
section.screen-height {
  height: 100vh;
}

#scroll-snap {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}

#scroll-snap section {
  scroll-snap-align: start;
}

/* --------------------------------------------------------------------------------------- */
/* Tags ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.tags {
  margin-bottom: 8px;
}

.tag {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
  color: #ffffff;
  font-size: 0.7em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .mobile-full-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* General ---------------------------------------------- */
  body {
    font-size: 16px;
  }

  .phone-link {
    pointer-events: initial;
  }

  /* Lists ---------------------------------------------- */
  .long-text ul li:before {
    left: -28px;
    width: 8px;
    height: 6px;
  }
}
@media screen and (max-width: 640px) {
  /* Modifiers ---------------------------------------------- */
  .xsmall-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .xsmall-padding-top {
    padding-top: 15px;
  }

  .xsmall-padding-bottom {
    padding-bottom: 15px;
  }

  .small-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .small-padding-top {
    padding-top: 25px;
  }

  .small-padding-bottom {
    padding-bottom: 25px;
  }

  .medium-padding {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .medium-padding-top {
    padding-top: 35px;
  }

  .medium-padding-bottom {
    padding-bottom: 35px;
  }

  .large-padding {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .large-padding-top {
    padding-top: 45px;
  }

  .large-padding-bottom {
    padding-bottom: 45px;
  }

  .xlarge-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .xlarge-padding-top {
    padding-top: 60px;
  }

  .xlarge-padding-bottom {
    padding-bottom: 60px;
  }
}
/* -------------------------------------------------------------------------------------------- */
/* Form field HTML ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gfield h1 {
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: center;
}

#container .gfield h2 {
  margin-top: 0;
}

#container .gfield h3 {
  margin-bottom: 24px;
  padding: 0 0 18px;
  font-size: 1.25em;
}

#container .gfield h3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 8px;
  background: #000000;
}

/* -------------------------------------------------------------------------------------------- */
/* Forms fields ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container input {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#container .gfield--type-text input,
#container .gfield--type-email input,
#container .gfield--type-phone input,
#container .gfield--type-textarea textarea {
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid transparent;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}

#container input[type=color],
#container input[type=date],
#container input[type=datetime-local],
#container input[type=datetime],
#container input[type=month],
#container input[type=number],
#container input[type=password],
#container input[type=search],
#container input[type=time],
#container input[type=url],
#container input[type=week],
#container select {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #000000;
  border-radius: 0;
  color: #000000;
}

#container .bg-black input[type=color],
#container .bg-black input[type=date],
#container .bg-black input[type=datetime-local],
#container .bg-black input[type=datetime],
#container .bg-black input[type=email],
#container .bg-black input[type=month],
#container .bg-black input[type=number],
#container .bg-black input[type=password],
#container .bg-black input[type=search],
#container .bg-black input[type=tel],
#container .bg-black input[type=text],
#container .bg-black input[type=time],
#container .bg-black input[type=url],
#container .bg-black input[type=week],
#container .bg-black select {
  border-color: #ffffff;
  color: #000000;
}

/* Forms fields - focus ---------------------------------------------- */
#container .gfield--type-text input:focus,
#container .gfield--type-email input:focus,
#container .gfield--type-phone input:focus,
#container .gfield--type-textarea textarea:focus {
  background: rgba(236, 28, 36, 0.125);
}

#container input[type=color]:focus,
#container input[type=date]:focus,
#container input[type=datetime-local]:focus,
#container input[type=datetime]:focus,
#container input[type=month]:focus,
#container input[type=number]:focus,
#container input[type=password]:focus,
#container input[type=search]:focus,
#container input[type=time]:focus,
#container input[type=url]:focus,
#container input[type=week]:focus,
#container select:focus {
  border-color: #ec1c24;
  background: rgba(255, 255, 255, 0.125);
}

#container .bg-black input[type=color]:focus,
#container .bg-black input[type=date]:focus,
#container .bg-black input[type=datetime-local]:focus,
#container .bg-black input[type=datetime]:focus,
#container .bg-black input[type=email]:focus,
#container .bg-black input[type=month]:focus,
#container .bg-black input[type=number]:focus,
#container .bg-black input[type=password]:focus,
#container .bg-black input[type=search]:focus,
#container .bg-black input[type=tel]:focus,
#container .bg-black input[type=text]:focus,
#container .bg-black input[type=time]:focus,
#container .bg-black input[type=url]:focus,
#container .bg-black input[type=week]:focus,
#container .bg-black select:focus {
  border-color: #ec1c24;
}

#container .gfield--type-textarea textarea:focus-visible {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

.bg-white ::placeholder {
  color: #ec1c24;
  opacity: 1;
}

.bg-white :-ms-input-placeholder {
  color: #ec1c24;
}

.bg-white ::-ms-input-placeholder {
  color: #ec1c24;
}

/* -------------------------------------------------------------------------------------------- */
/* Labels ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper.gravity-theme .gfield_label {
  margin: 0 0 8px;
  padding: 0;
}

#container .gform_wrapper.gravity-theme .gfield--type-text .gfield_label,
#container .gform_wrapper.gravity-theme .gfield--type-email .gfield_label,
#container .gform_wrapper.gravity-theme .gfield--type-phone .gfield_label,
#container .gform_wrapper.gravity-theme .gfield--type-textarea .gfield_label {
  padding: 4px 16px;
  margin: 0;
  transform: translate3d(0, 42px, 0);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#container .gform_wrapper.gravity-theme .gfield_label.move-label {
  transform: translate3d(0, 0, 0);
}

#container .gform_wrapper.gravity-theme .gfield--type-text .gfield_label:before,
#container .gform_wrapper.gravity-theme .gfield--type-email .gfield_label:before,
#container .gform_wrapper.gravity-theme .gfield--type-phone .gfield_label:before,
#container .gform_wrapper.gravity-theme .gfield--type-textarea .gfield_label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #000000;
}

/* -------------------------------------------------------------------------------------------- */
/* Field Specific - Select dropdowns ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .select-field span.wpcf7-form-control-wrap {
  position: relative;
  overflow: hidden;
  display: block;
}

#container .select-field .wpcf7-form-control-wrap:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -4px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #000000;
  pointer-events: none;
}

/* -------------------------------------------------------------------------------------------- */
/* Checkboxes and Radio buttons ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper .gfield .gfield_checkbox,
#container .gform_wrapper .gfield .gfield_radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#container .gform_wrapper .gfield.full-width-options .gfield_checkbox .gchoice,
#container .gform_wrapper .gfield.full-width-options .gfield_radio .gchoice {
  display: block;
  width: 100%;
}

#container .gform_wrapper .gfield_checkbox .gchoice input,
#container .gform_wrapper .gfield_checkbox .gchoice input[type=checkbox],
#container .gform_wrapper .gfield_radio .gchoice input[type=radio] {
  display: none;
}

#container .gform_wrapper .gfield .gfield_checkbox .gchoice label,
#container .gform_wrapper .gfield .gfield_radio .gchoice label {
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;
  width: auto;
  max-width: initial;
  padding: 12px 8px;
  margin: 0;
  background: #ffffff;
  border: 1px solid #deddde;
  border-radius: 2px;
  transform: translate3d(0, -3px, 0);
  color: #000000;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.125s ease;
  -moz-transition: all 0.125s ease;
  -o-transition: all 0.125s ease;
  transition: all 0.125s ease;
}

#container .gform_wrapper .gfield .gfield_checkbox .gchoice:after,
#container .gform_wrapper .gfield .gfield_radio .gchoice:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 2px;
  -webkit-transition: background 0.125s ease;
  -moz-transition: background 0.125s ease;
  -o-transition: background 0.125s ease;
  transition: background 0.125s ease;
}

/* On Mouse press down ---------------------------------------------- */
#container .gform_wrapper .gfield .gfield_checkbox .gchoice input[type=checkbox]:active + label,
#container .gform_wrapper .gfield .gfield_radio .gchoice input[type=radio]:active + label {
  background: #deddde;
  transform: translate3d(0, 3px, 0);
}

/* Option is selected ---------------------------------------------- */
#container .gchoice_select_all,
#container .gform_wrapper .gfield .gfield_checkbox .gchoice input[type=checkbox]:checked + label,
#container .gform_wrapper .gfield .gfield_radio .gchoice input[type=radio]:checked + label {
  background: #f2f2f2;
  transform: translate3d(0, 1px, 0);
  color: #ec1c24;
}

#container .gform_wrapper .gfield .gfield_checkbox .gchoice:has(> input[type=checkbox]:checked):after,
#container .gform_wrapper .gfield .gfield_radio .gchoice:has(> input[type=radio]:checked):after {
  background: #000000;
}

/* -------------------------------------------------------------------------------------------- */
/* Page Pagination - including Submit button ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper.gravity-theme .gform_footer,
#container .gform_wrapper.gravity-theme .gform_page_footer {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  padding: 0;
  width: 100%;
}

#container .gform_wrapper.gravity-theme .gform_page_footer input {
  flex-grow: 1;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;
  padding: 8px;
  margin: 0;
  background: #ffffff;
  border: none;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_previous_button {
  text-align: left;
}

#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_next_button {
  text-align: right;
}

#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_previous_button:hover {
  transform: translate3d(16px, 0, 0);
}

#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_next_button:hover {
  transform: translate3d(-16px, 0, 0);
}

#container .gform_wrapper.gravity-theme .gform_page_footer:before,
#container .gform_wrapper.gravity-theme .gform_page_footer:after {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 16px;
  height: 1px;
  transform: translate3d(0, -50%, 0);
  background: #000000;
}

#container .gform_wrapper.gravity-theme .gform_page_footer:before {
  left: 0;
}

#container .gform_wrapper.gravity-theme .gform_page_footer:after {
  right: 0;
}

/* -------------------------------------------------------------------------------------------- */
/* Submit ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .form-submit {
  margin: 24px 0;
  text-align: center;
}

#container .form-submit input,
#container .gform_wrapper.gravity-theme .gform_page_footer input[type=submit] {
  max-width: 200px;
  padding: 8px 40px;
  border: 3px solid #ec1c24;
  border-radius: 0;
  background: #ec1c24;
  color: #ffffff;
  text-transform: uppercase;
}

#container .form-submit input:hover {
  border-color: #ffffff;
  background: transparent;
}

/* -------------------------------------------------------------------------------------------- */
/* Validation ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper.gravity-theme .gfield_required,
#container .gform_wrapper.gravity-theme .gfield_required .gfield_required_custom,
#container .gform_wrapper.gravity-theme .gfield_required .gfield_required_text {
  line-height: 1em;
}

#container .gform_wrapper.gravity-theme .gform_validation_errors {
  background: none;
  border: 1px solid #ec1c24;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}

#container .gform_wrapper.gravity-theme .gform_validation_errors h2 {
  font-style: normal;
  color: #ec1c24;
}

#container .gform_wrapper.gravity-theme .gfield_description.validation_message {
  display: none;
}

/* -------------------------------------------------------------------------------------------- */
/* reCaptcha ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
.grecaptcha-badge {
  visibility: hidden;
}

.recaptcha-message {
  font-size: 0.6em;
  line-height: 1.2em;
  color: #ec1c24;
}

.recaptcha-message a {
  color: #ec1c24;
}

.recaptcha-message a:hover {
  color: #ffffff;
}

.bg-white .recaptcha-message {
  color: #ec1c24;
}

.bg-white .recaptcha-message a {
  color: #000000;
}

.bg-white .recaptcha-message a:hover {
  color: #000000;
}

/* -------------------------------------------------------------------------------------------- */
/* Full height forms ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .screen-height .gform_wrapper,
#container .screen-height .gform_wrapper form,
#container .screen-height .gform_wrapper form .gform_body,
#container .screen-height .gform_wrapper form .gform_body .gform_page {
  height: 100%;
}

#container .screen-height .gform_wrapper form .gform_body .gform_page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

#container .screen-height .gform_wrapper form .gform_body .gform_page .gform_page_fields {
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

#container .screen-height .gform_wrapper.gravity-theme .gform_footer,
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;
  background: #000000;
  border-top: 1px solid #000000;
}

#container .gform_wrapper.gravity-theme .gform_page_footer input {
  padding: 8px 16px;
}

#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer input.gform_previous_button:hover {
  transform: translate3d(18px, 0, 0);
}

#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer input.gform_next_button:hover {
  transform: translate3d(-18px, 0, 0);
}

#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:before,
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:after {
  width: 0;
  height: 0;
  background: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:before {
  padding-left: 8px;
  border-right: 12px solid #ffffff;
}

#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:after {
  padding-right: 8px;
  border-left: 12px solid #ffffff;
}

/* Validation ---------------------------------------------- */
#container .screen-height .gform_wrapper.gravity-theme .gform_validation_errors {
  position: absolute;
  bottom: 48px;
  margin: 0;
  padding: 12px;
  border: none;
  background: #E0B43E;
}

#container .screen-height .gform_wrapper.gravity-theme .gform_validation_errors h2 {
  color: #ffffff;
}

/* -------------------------------------------------------------------------------------------- */
/* Media Queries ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
@media screen and (max-width: 560px) {
  .form-row {
    display: block;
  }

  .form-row .form-field {
    width: 100%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* To keep from zooming into active form fields on devices */
  select, textarea, input {
    font-size: 16px;
  }

  select:focus, textarea:focus, input:focus {
    font-size: 16px;
  }
}
/* -------------------------------------------------------------------- */
/* TSM Logo -------------------------- */
/* -------------------------------------------------------------------- */
.tsm-logo .tsm-logo-color-one {
  fill: #000000;
}

.tsm-logo .tsm-logo-color-two {
  fill: #ec1c24;
}

.header-on-black .tsm-logo-color-one {
  fill: #ffffff;
}

.tsm-logo .tsm-logo-color-one,
.tsm-logo .tsm-logo-color-two {
  -webkit-transition: fill 0.5s ease;
  -moz-transition: fill 0.5s ease;
  -o-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

/* -------------------------------------------------------------------- */
/* TSM Badge -------------------------- */
/* -------------------------------------------------------------------- */
svg.tsm-badge {
  overflow: initial;
}

.tsm-badge .badge-uprights {
  fill: #ec1c24;
  -webkit-transition: fill 1s ease 0s;
  -moz-transition: fill 1s ease 0s;
  -o-transition: fill 1s ease 0s;
  transition: fill 1s ease 0s;
}

.tsm-badge.badge-leave .badge-uprights {
  fill: #ffffff;
  -webkit-transition: fill 0.1s ease 0.05s;
  -moz-transition: fill 0.1s ease 0.05s;
  -o-transition: fill 0.1s ease 0.05s;
  transition: fill 0.1s ease 0.05s;
}

.tsm-badge .bolt-container {
  -webkit-transition: transform 0.05s ease 0s;
  -moz-transition: transform 0.05s ease 0s;
  -o-transition: transform 0.05s ease 0s;
  transition: transform 0.05s ease 0s;
}

.tsm-badge:hover .bolt-container {
  transform: translate3d(4px, -20px, 0);
  -webkit-transition: transform 1s ease 0s;
  -moz-transition: transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
}

.tsm-badge .badge-bolt {
  fill: #000000;
}

.bg-black .tsm-badge .badge-bolt {
  fill: #ffffff;
}

.tsm-badge:hover .badge-bolt {
  animation: boltshake .125s infinite forwards ease-in;
}

@keyframes boltshake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
/* --------------------------------------------------------------------------------------- */
/* HEADER ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* --------------------------------------------------------------------------------------- */
/* HEADER LOGO ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
header .rrv-logo {
  position: relative;
  width: 256px;
  height: 111.07px;
  fill: #000000;
}

header .rrv-logo .logo-primary {
  fill: #ec1c24;
}

/* --------------------------------------------------------------------------------------- */
/* HEADER NAV ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
header nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

header nav a.nav-item {
  flex-grow: 1;
  display: block;
  padding: 8px;
  margin: 8px;
  font-size: 21px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

header nav a.nav-item:hover {
  color: #000000;
}

/* --------------------------------------------------------------------------------------- */
/* MOBILE ADJUSTMENTS ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.mobile-overlay {
  display: none;
}

.overlay-menu {
  display: none;
}

.mobile-nav-controls {
  display: none;
}

.responsive-menu {
  display: none;
}

.mobile-site header .hamburger,
.scrolled-page header .hamburger {
  transform: translate3d(0, 0, 0);
}

.desktop-site:not(.scrolled-page) header nav {
  transform: translate3d(0, 0, 0);
}

/* --------------------------------------------------------------------------------------- */
/* Mobile Nav ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
/* hamburger ------------------------- */
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1100;
  width: 80px;
  height: 50px;
  margin-right: 20px;
  transform: translate3d(120px, 0, 0);
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.hamburger div {
  position: absolute;
  right: 0;
  width: 50%;
  height: 1px;
  background: #000000;
}

.hamburger:hover div {
  width: 100%;
}

header.header-on-black .hamburger div {
  background: #ffffff;
}

.hamburger div.bun-top {
  bottom: 30px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}

.hamburger div.meat {
  bottom: 19px;
  -webkit-transition: width 1s ease 0.25s;
  -moz-transition: width 1s ease 0.25s;
  -o-transition: width 1s ease 0.25s;
  transition: width 1s ease 0.25s;
}

.hamburger div.bun-bottom {
  bottom: 8px;
  -webkit-transition: width 1s ease 0.5s;
  -moz-transition: width 1s ease 0.5s;
  -o-transition: width 1s ease 0.5s;
  transition: width 1s ease 0.5s;
}

/* Close nav button ------------------------- */
.close-nav {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.close-nav span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 64px;
  height: 1px;
  background: #ffffff;
}

.close-nav span:first-child {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.close-nav span:last-child {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* mobile menu active ------------------------- */
.mobile-overlay,
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

.mobile-overlay {
  z-index: 1000;
  height: 200%;
  background: #ec1c24;
  transform-origin: left top;
  transform: translate3d(50%, -100%, 0) rotate(-90deg) scale(2);
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.mobile-overlay-on {
  transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
}

.overlay-menu {
  z-index: 1100;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
}

/* main mobile menu list stying ------------------------- */
ul#mobile-main-menu {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  transform: translate3d(0, -50%, 0);
  pointer-events: none;
}

.overlay-menu.show-overlay-menu ul#mobile-main-menu {
  pointer-events: initial;
}

ul#mobile-main-menu li {
  position: relative;
  display: block;
}

ul#mobile-main-menu li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  transform-origin: center center;
  transform: scaleY(0);
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
}

ul#mobile-main-menu li:hover:after {
  transform: scaleY(1);
}

ul#mobile-main-menu li a {
  position: relative;
  z-index: 2;
  display: block;
  padding: 8px 24px 12px;
  transform: skew(0deg);
  opacity: 0;
  color: #ffffff;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  text-indent: -100px;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-stroke-color: white;
  -webkit-transition: padding 0.5s ease, transform 0.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 0.5s ease;
  -moz-transition: padding 0.5s ease, transform 0.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 0.5s ease;
  -o-transition: padding 0.5s ease, transform 0.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 0.5s ease;
  transition: padding 0.5s ease, transform 0.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 0.5s ease;
}

ul#mobile-main-menu li a:hover {
  padding-left: 34px;
  transform: skew(-18deg);
  color: transparent;
  -webkit-transition: padding 2.5s ease, transform 2.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 2.5s ease;
  -moz-transition: padding 2.5s ease, transform 2.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 2.5s ease;
  -o-transition: padding 2.5s ease, transform 2.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 2.5s ease;
  transition: padding 2.5s ease, transform 2.5s ease, opacity 0.5s ease, text-indent 0.5s ease, color 2.5s ease;
}

ul#mobile-main-menu li.mobile-item-slide a {
  opacity: 1;
  text-indent: 0;
}

/* -------------------------------------------------------------- */
/* End Mobile Menu ------------------------------- */
/* -------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  ul#mobile-main-menu li a {
    font-size: 5vw;
  }
}
/* -------------------------------------------------------------------- */
/* Front Page -------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* Footer ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}

.footer-wrapper {
  z-index: 2;
}

/* --------------------------------------------------------------------
// Website by TSM
-------------------------------------------------------------------- */
#website-by-tsm {
  position: relative;
  display: inline-block;
  height: 18px;
  transform: translateY(5px);
}

#website-by-tsm #tsm-credit-badge {
  position: relative;
}

#website-by-tsm #tsm-credit-badge polygon {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#website-by-tsm .tsm-badge-bolt {
  fill: #ffffff;
}

#website-by-tsm .tsm-badge-uprights {
  fill: #C12032;
}

#website-by-tsm .tsm-badge-upright-left {
  transform: translateX(0);
}

#website-by-tsm .tsm-badge-upright-right {
  transform: translateX(0);
}

#website-by-tsm:hover .tsm-badge-upright-left {
  transform: translateX(-2px);
}

#website-by-tsm:hover .tsm-badge-upright-right {
  transform: translateX(2px);
}

@media print {
  nav {
    display: none !important;
  }
}

/*# sourceMappingURL=screen.css.map */
