/* -------------------------------------------------------------------------------------------- */
/* Footer ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}
.footer-wrapper {z-index: 2;}


/* --------------------------------------------------------------------
// Website by TSM
-------------------------------------------------------------------- */
#website-by-tsm {position: relative; display: inline-block; height: 18px; transform: translateY(5px);}
#website-by-tsm #tsm-credit-badge {position: relative;}
#website-by-tsm #tsm-credit-badge polygon {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#website-by-tsm .tsm-badge-bolt {fill: $white;}
#website-by-tsm .tsm-badge-uprights {fill: #C12032;}
#website-by-tsm .tsm-badge-upright-left {transform: translateX(0);}
#website-by-tsm .tsm-badge-upright-right {transform: translateX(0);}
#website-by-tsm:hover .tsm-badge-upright-left {transform: translateX(-2px);}
#website-by-tsm:hover .tsm-badge-upright-right {transform: translateX(2px);}