/* -------------------------------------------------------------------------------------------- */
/* Form field HTML ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gfield h1 {
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: center;
}
#container .gfield h2 {margin-top: 0;}
#container .gfield h3 {
  margin-bottom: 24px;
  padding: 0 0 18px;
  font-size: 1.25em;
}
#container .gfield h3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 8px;
  background: $black;
}


/* -------------------------------------------------------------------------------------------- */
/* Forms fields ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container input {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#container .gfield--type-text input,
#container .gfield--type-email input,
#container .gfield--type-phone input,
#container .gfield--type-textarea textarea {
  padding: 12px 16px;
  background: rgba($white, 0);
  border: 1px solid transparent;
  border-bottom: 1px solid $black;
  border-left: 1px solid $black;
}

#container input[type=color], 
#container input[type=date], 
#container input[type=datetime-local], 
#container input[type=datetime], 
#container input[type=month], 
#container input[type=number], 
#container input[type=password], 
#container input[type=search], 
#container input[type=time], 
#container input[type=url], 
#container input[type=week], 
#container select {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  background: rgba($white, 0);
  border: 1px solid $black;
  border-radius: 0;
  color: $black;
}
#container .bg-black input[type=color], 
#container .bg-black input[type=date], 
#container .bg-black input[type=datetime-local], 
#container .bg-black input[type=datetime], 
#container .bg-black input[type=email], 
#container .bg-black input[type=month], 
#container .bg-black input[type=number], 
#container .bg-black input[type=password], 
#container .bg-black input[type=search], 
#container .bg-black input[type=tel], 
#container .bg-black input[type=text], 
#container .bg-black input[type=time], 
#container .bg-black input[type=url], 
#container .bg-black input[type=week], 
#container .bg-black select {
  border-color: $white;
  color: $black;
}

/* Forms fields - focus ---------------------------------------------- */
#container .gfield--type-text input:focus,
#container .gfield--type-email input:focus,
#container .gfield--type-phone input:focus,
#container .gfield--type-textarea textarea:focus {
  background: rgba($secondary, 0.125);
}
#container input[type=color]:focus, 
#container input[type=date]:focus, 
#container input[type=datetime-local]:focus, 
#container input[type=datetime]:focus, 
#container input[type=month]:focus, 
#container input[type=number]:focus, 
#container input[type=password]:focus, 
#container input[type=search]:focus, 
#container input[type=time]:focus, 
#container input[type=url]:focus, 
#container input[type=week]:focus, 
#container select:focus {
  border-color: $primary;
  background: rgba($white, 0.125);
}
#container .bg-black input[type=color]:focus, 
#container .bg-black input[type=date]:focus, 
#container .bg-black input[type=datetime-local]:focus, 
#container .bg-black input[type=datetime]:focus, 
#container .bg-black input[type=email]:focus, 
#container .bg-black input[type=month]:focus, 
#container .bg-black input[type=number]:focus, 
#container .bg-black input[type=password]:focus, 
#container .bg-black input[type=search]:focus, 
#container .bg-black input[type=tel]:focus, 
#container .bg-black input[type=text]:focus, 
#container .bg-black input[type=time]:focus, 
#container .bg-black input[type=url]:focus, 
#container .bg-black input[type=week]:focus, 
#container .bg-black select:focus {
  border-color: $secondary;
}

#container .gfield--type-textarea textarea:focus-visible {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

::placeholder {color: $white; opacity: 1;}
:-ms-input-placeholder {color: $white;}
::-ms-input-placeholder {color: $white;}

.bg-white ::placeholder {color: $primary; opacity: 1;}
.bg-white :-ms-input-placeholder {color: $primary;}
.bg-white ::-ms-input-placeholder {color: $primary;}


/* -------------------------------------------------------------------------------------------- */
/* Labels ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper.gravity-theme .gfield_label {
  margin: 0 0 8px;
  padding: 0;
}


#container .gform_wrapper.gravity-theme .gfield--type-text .gfield_label,
#container .gform_wrapper.gravity-theme .gfield--type-email .gfield_label,
#container .gform_wrapper.gravity-theme .gfield--type-phone .gfield_label,
#container .gform_wrapper.gravity-theme .gfield--type-textarea .gfield_label {
  padding: 4px 16px;
  margin: 0;
  transform: translate3d(0,42px,0);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#container .gform_wrapper.gravity-theme .gfield_label.move-label {transform: translate3d(0,0,0);}
#container .gform_wrapper.gravity-theme .gfield--type-text .gfield_label:before,
#container .gform_wrapper.gravity-theme .gfield--type-email .gfield_label:before,
#container .gform_wrapper.gravity-theme .gfield--type-phone .gfield_label:before,
#container .gform_wrapper.gravity-theme .gfield--type-textarea .gfield_label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: $black;
}



/* -------------------------------------------------------------------------------------------- */
/* Field Specific - Select dropdowns ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .select-field span.wpcf7-form-control-wrap {
  position: relative;
  overflow: hidden;
  display: block;
}
#container .select-field .wpcf7-form-control-wrap:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -4px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid $black;
  pointer-events: none;
}


/* -------------------------------------------------------------------------------------------- */
/* Checkboxes and Radio buttons ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper .gfield .gfield_checkbox,
#container .gform_wrapper .gfield .gfield_radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#container .gform_wrapper .gfield .gfield_checkbox .gchoice,
#container .gform_wrapper .gfield .gfield_radio .gchoice {

}
#container .gform_wrapper .gfield.full-width-options .gfield_checkbox .gchoice,
#container .gform_wrapper .gfield.full-width-options .gfield_radio .gchoice {
  display: block;
  width: 100%;
}
#container .gform_wrapper .gfield_checkbox .gchoice input,
#container .gform_wrapper .gfield_checkbox .gchoice input[type=checkbox],
#container .gform_wrapper .gfield_radio .gchoice input[type=radio] {
  display: none;
}
#container .gform_wrapper .gfield .gfield_checkbox .gchoice label,
#container .gform_wrapper .gfield .gfield_radio .gchoice label {
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;
  width: auto;
  max-width: initial;
  padding: 12px 8px;
  margin: 0;
  background: $white;
  border: 1px solid $grey;
  border-radius: 2px;
  transform: translate3d(0,-3px,0);
  color: $black;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.125s ease;
  -moz-transition: all 0.125s ease;
  -o-transition: all 0.125s ease;
  transition: all 0.125s ease;
}
#container .gform_wrapper .gfield .gfield_checkbox .gchoice:after,
#container .gform_wrapper .gfield .gfield_radio .gchoice:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 2px;
  -webkit-transition: background 0.125s ease;
  -moz-transition: background 0.125s ease;
  -o-transition: background 0.125s ease;
  transition: background 0.125s ease;
}

/* On Mouse press down ---------------------------------------------- */
#container .gform_wrapper .gfield .gfield_checkbox .gchoice input[type=checkbox]:active+label,
#container .gform_wrapper .gfield .gfield_radio .gchoice input[type=radio]:active+label {
  background: $grey;
  transform: translate3d(0,3px,0);
}

/* Option is selected ---------------------------------------------- */
#container .gchoice_select_all,
#container .gform_wrapper .gfield .gfield_checkbox .gchoice input[type=checkbox]:checked+label,
#container .gform_wrapper .gfield .gfield_radio .gchoice input[type=radio]:checked+label {
  background: $light;
  transform: translate3d(0,1px,0);
  color: $primary;
}
#container .gform_wrapper .gfield .gfield_checkbox .gchoice:has(> input[type=checkbox]:checked):after,
#container .gform_wrapper .gfield .gfield_radio .gchoice:has(> input[type=radio]:checked):after {
  background: $black;
}


/* -------------------------------------------------------------------------------------------- */
/* Page Pagination - including Submit button ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper.gravity-theme .gform_footer, 
#container .gform_wrapper.gravity-theme .gform_page_footer {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  padding: 0;
  width: 100%; 
}
#container .gform_wrapper.gravity-theme .gform_page_footer input {
  flex-grow: 1;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;
  padding: 8px;
  margin: 0;
  background: $white;
  border: none;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  color: $black;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_previous_button {text-align: left;}
#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_next_button {text-align: right;}
#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_previous_button:hover {transform: translate3d(16px,0,0);}
#container .gform_wrapper.gravity-theme .gform_page_footer input.gform_next_button:hover {transform: translate3d(-16px,0,0);}

#container .gform_wrapper.gravity-theme .gform_page_footer:before,
#container .gform_wrapper.gravity-theme .gform_page_footer:after {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 16px;
  height: 1px;
  transform: translate3d(0,-50%,0);
  background: $black;
}
#container .gform_wrapper.gravity-theme .gform_page_footer:before {left: 0;}
#container .gform_wrapper.gravity-theme .gform_page_footer:after {right: 0;}


/* -------------------------------------------------------------------------------------------- */
/* Submit ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .form-submit {margin: 24px 0; text-align: center;}
#container .form-submit input,
#container .gform_wrapper.gravity-theme .gform_page_footer input[type=submit] {
  max-width: 200px;
  padding: 8px 40px;
  border: 3px solid $primary;
  border-radius: 0;
  background: $primary;
  color: $white;
  text-transform: uppercase;
}
#container .form-submit input:hover {
  border-color: $white; 
  background: transparent;
}


/* -------------------------------------------------------------------------------------------- */
/* Validation ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .gform_wrapper.gravity-theme .gfield_required,
#container .gform_wrapper.gravity-theme .gfield_required .gfield_required_custom, 
#container .gform_wrapper.gravity-theme .gfield_required .gfield_required_text {
  line-height: 1em;
}
#container .gform_wrapper.gravity-theme .gform_validation_errors {
  background: none;
  border: 1px solid $primary;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}
#container .gform_wrapper.gravity-theme .gform_validation_errors h2 {
  font-family: $body;
  font-style: normal;
  color: $primary;
}
#container .gform_wrapper.gravity-theme .gfield_description.validation_message {display: none;}


/* -------------------------------------------------------------------------------------------- */
/* reCaptcha ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
.grecaptcha-badge {visibility: hidden;}
.recaptcha-message {
  font-size: 0.6em;
  line-height: 1.2em;
  color: $primary;
}
.recaptcha-message a {color: $primary;}
.recaptcha-message a:hover {color: $white;}
.bg-white .recaptcha-message {color: $primary;}
.bg-white .recaptcha-message a {color: $black;}
.bg-white .recaptcha-message a:hover {color: $black;}






/* -------------------------------------------------------------------------------------------- */
/* Full height forms ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
#container .screen-height .gform_wrapper,
#container .screen-height .gform_wrapper form,
#container .screen-height .gform_wrapper form .gform_body,
#container .screen-height .gform_wrapper form .gform_body .gform_page {
  height: 100%;
}
#container .screen-height .gform_wrapper form .gform_body .gform_page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
#container .screen-height .gform_wrapper form .gform_body .gform_page .gform_page_fields {
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
#container .screen-height .gform_wrapper.gravity-theme .gform_footer, 
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;
  background: $black;
  border-top: 1px solid $black;
}

#container .gform_wrapper.gravity-theme .gform_page_footer input {
  padding: 8px 16px;
}
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer input.gform_previous_button:hover {transform: translate3d(18px,0,0);}
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer input.gform_next_button:hover {transform: translate3d(-18px,0,0);}
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:before,
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:after {
  width: 0; 
  height: 0; 
  background: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:before {
  padding-left: 8px;
  border-right: 12px solid $white;
}
#container .screen-height .gform_wrapper.gravity-theme .gform_page_footer:after {
  padding-right: 8px;
  border-left: 12px solid $white;
}

/* Validation ---------------------------------------------- */
#container .screen-height .gform_wrapper.gravity-theme .gform_validation_errors {
  position: absolute;
  bottom: 48px;
  margin: 0;
  padding: 12px;
  border: none;
  background: $caution;
}
#container .screen-height .gform_wrapper.gravity-theme .gform_validation_errors h2 {color: $white;}





/* -------------------------------------------------------------------------------------------- */
/* Media Queries ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
@media screen and (max-width: 560px) {

  .form-row {display: block;}
  .form-row .form-field {width: 100%;}

}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
  /* To keep from zooming into active form fields on devices */
  select, textarea, input {
      font-size: 16px;
  }
    select:focus, textarea:focus, input:focus {
    font-size: 16px;
  }
}

