/* -------------------------------------------------------------------- */
/* Front Page - Hero -------------------------- */
/* -------------------------------------------------------------------- */
#home-hero video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	object-position: center center;
	object-fit: cover;
}
#home-hero h1,
#home-hero #title-flare {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	margin: 0 auto;
	transform: translate3d(-50%,-50%,0);
	font-size: 9.5vw;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
}
#home-hero h1 {
	z-index: 3;
	color: rgba($white,1);
}
#home-hero #title-flare {
	z-index: 2;
	mix-blend-mode: overlay;
	font-family: $heading;
	color: transparent;
	-webkit-text-stroke-width: 0.0625em;
	-webkit-text-stroke-color: rgba($white,1);
}
#home-hero h1 span {
	display: block;
	color: transparent;
	-webkit-text-stroke-width: 0.01em;
	-webkit-text-stroke-color: rgba($white,1);
}
#home-hero #title-flare span {display: block;}

#mouse-scroller-icon {
	position: absolute;
	z-index: 2;
	bottom: 40px;
	left: 50%;
	display: block;
	width: 30px;
	height: 48px;
	transform: translate3d(-50%,0,0);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
#mouse-scroller-icon.show-mouse-button {opacity: 1; pointer-events: initial;}
.scrolled-page #mouse-scroller-icon {opacity: 0;}
.scroller-mouse {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	border: 1px solid rgba($grey,1);
	border-radius: 15px;
}
.mouse-scroll-dot {
	position: absolute;
	left: 50%;
	top: 8px;
	display: block;
	width: 2px;
	height: 2px;
	margin-left: -1px;
	background: $grey;
	border-radius: 2px;
	transform-origin: bottom center; 
	animation: mouseScrollAnim 5s infinite 0s forwards;
}
@keyframes mouseScrollAnim {
	0% {height: 2px;}
	12% {height: 18px; transform: translate3d(0,0,0);}
	24% {height: 2px; transform: translate3d(0,16px,0);}
	88% {transform: translate3d(0,16px,0);}
	100% {transform: translate3d(0,0,0);}
}


@media screen and (min-width: 1350px) {

	#home-hero h1,
	#home-hero #title-flare {font-size: 128px;}

}


/* -------------------------------------------------------------------- */
/* Front Page - General section css -------------------------- */
/* -------------------------------------------------------------------- */
.home-section-content {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translate3d(0,-50%,0);
}


/* -------------------------------------------------------------------- */
/* Front Page - map -------------------------- */
/* -------------------------------------------------------------------- */
.dot-map-container {
	z-index: 1;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.dot-map-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	transform: translate3d(-50%,-50%,0);
}
.dot-map-popups {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}
#dotted-map {
	position: relative;
	display: block;
	transform: translate3d(0,0,0) scale(1);
	-webkit-transition: transform 2s ease;
	-moz-transition: transform 2s ease;
	-o-transition: transform 2s ease;
	transition: transform 2s ease;
}
#dotted-map.australia {transform: translate3d(-85%,-80%,0) scale(2.5);}
#dotted-map.bolivia {transform: translate3d(55%,-60%,0) scale(2.5);}
#dotted-map.brazil {transform: translate3d(48%,-60%,0) scale(2.5);}
#dotted-map.canada {transform: translate3d(60%,50%,0) scale(2);}
#dotted-map.estonia {transform: translate3d(-9%,48%,0) scale(2.5);}
#dotted-map.france {transform: translate3d(5%,30%,0) scale(2.5);}
#dotted-map.germany {transform: translate3d(0%,35%,0) scale(2.5);}
#dotted-map.lithuania {transform: translate3d(-8%,42%,0) scale(2.5);}
#dotted-map.south-africa {transform: translate3d(-10%,-80%,0) scale(2.5);}
#dotted-map.uganda {transform: translate3d(-15%,-40%,0) scale(2.5);}
#dotted-map.us {transform: translate3d(60%,25%,0) scale(2);}
.dot {
	fill: $grey;
	stroke: $grey;
	stroke-width: 0;
	stroke-dasharray: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dot.highlight {
	fill: $black;
	stroke: $black;
}
.dot.active-dot {
	fill: $primary;
	stroke: $primary;
	stroke-width: 1;
}

.dot-map-heading {
	position: absolute;
	top: 8vh;
	z-index: 3;
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.dot-map-heading h2 {
	font-size: 4em;
	text-transform: uppercase;
	text-shadow: 0 0 12px rgba($white,1);
}

.flags-container {
	position: absolute;
	bottom: 8vh;
	z-index: 3;
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.flag-group {
	display: inline-block;
	margin: 4px;
	background: rgba($white, 0.65);
	border: 1px solid $black;
}
.flag-group h3 {
	margin: 0;
	padding: 8px 8px 0;
	text-transform: uppercase;
	text-align: left;
	font-size: 1.35em;
	line-height: 1em;
}
.flag-group h3 span {
	display: block;
	font-weight: 400;
	font-size: 0.5em;
	line-height: 1em;
}
.flags {
	display: block;
	margin: 4px;
	line-height: 1em;
	text-align: left;
}
.flag {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 30px;
	margin: 4px;
	transform: scale(0.9);
	cursor: pointer;
	-webkit-transition: transform .25s ease;
	-moz-transition: transform .25s ease;
	-o-transition: transform .25s ease;
	transition: transform .25s ease;
}
.flag.active-flag,
.flag:hover {transform: scale(1.1);}

.flag svg {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
}


/* -------------------------------------------------------------------- */
/* Front Page - MFGs -------------------------- */
/* -------------------------------------------------------------------- */
.mfg-thread {
	z-index: 2;
	overflow: scroll;
	-ms-overflow-style: none;
	padding-left: 5vw;
	scrollbar-width: none;
}
.mfg-thread::-webkit-scrollbar {display: none;}
.mfg-thread::-webkit-scrollbar {width: 0 !important}
.mfg-thread-logos {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	height: 12vw;
}
.mfg-thread-logos .mfg-logo-container {
	width: 12vw;
	height: 8vw;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.mfg-thread-logos .mfg-logo-container.active-mfg {
	width: 18vw; 
	height: 12vw;
	border-bottom: 3px solid $primary;
}
.mfg-thread-logos .mfg-logo-container img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 2vw;
	transform: scale(0.9);
	object-position: center center;
	object-fit: contain;
	filter: grayscale(1);
	opacity: 0.65;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.mfg-thread-logos .mfg-logo-container.active-mfg img {
	transform: scale(1);
	filter: grayscale(0); 
	opacity: 1;
}
.mfg-thread-logos:after {
	content: '';
	position: absolute;
	bottom: 1px;
	z-index: 1;
	display: block;
	width: 100%;
	height: 1px;
	background: $black;
}

.mfg-excerpts {
	width: 90%;
	height: 30vh;
	margin: 0 auto;
}
.mfg-excerpt {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	transform: translate3d(0,16px,0);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.mfg-excerpt.active-mfg {
	transform: translate3d(0,0,0);
	opacity: 1;
	pointer-events: initial;
}
.mfg-excerpt-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
}
.mfg-excerpt-image {margin-right: 5%;}
.mfg-excerpt-image img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-position: center center;
	object-fit: contain;
}
.mfg-excerpt-info {
	align-self: center;
}




















